@model ExamenParte2.Models.PersonalizedPizza
@{
    ViewBag.Title = "Crea tu pizza";
    List<SelectListItem> Sizes = ViewBag.Sizes;
    List<SelectListItem> Masses = ViewBag.Masses;
    List<SelectListItem> Sauces = ViewBag.Sauces;
    List<SelectListItem> Mozzarellas = ViewBag.Mozzarellas;
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
</head>
<body>
    <div class="container" style="height: 100%">
        @using (Html.BeginForm("SubmitPizzaCreation", "CreatePizza", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()

            <h2 style="margin: 20px 0 30px 0;"><strong>¡Cree su pizza personalizada!</strong></h2>

            <div class="card">
                <div class="card-header">
                    <h4 class="text-success text-center">SU PIZZA</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Size)
                            @Html.DropDownListFor(model => model.Size, Sizes, "- Escoja una opción - ", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(model => model.Mass)
                            @Html.DropDownListFor(model => model.Mass, Masses, "- Escoja una opción - ", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Mass, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col">
                            @Html.LabelFor(model => model.Sauce)
                            @Html.DropDownListFor(model => model.Sauce, Sauces, "- Escoja una opción - ", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Sauce, "", new { @class = "text-danger" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(model => model.Mozzarella)
                            @Html.DropDownListFor(model => model.Mozzarella, Mozzarellas, "- Escoja una opción - ", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Mozzarella, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <p style="font-size: 1rem"><strong>¿Qué ingredientes desea?</strong></p>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="card ingredient">
                                <img src="~/Images/york.png" style="width: 10rem; margin-left: 2rem">
                                <div class="card-body">
                                    <p class="card-text ingredient-text">York</p>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark" onclick="decrement('york')">-</span>
                                        <input type="number" class="count" name="qty" value="0" id="york">
                                        <span class="plus bg-dark" onclick="increment('york')">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card ingredient">
                                <img src="~/Images/peperoni.png" style="width: 10rem; margin-left: 2rem">
                                <div class="card-body">
                                    <p class="card-text ingredient-text">Pepperoni</p>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark" onclick="decrement('pepperoni')">-</span>
                                        <input type="number" class="count" name="qty" value="0" id="pepperoni">
                                        <span class="plus bg-dark" onclick="increment('pepperoni')">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card ingredient">
                                <img src="~/Images/parmesano.png" style="width: 10rem; margin-left: 2rem">
                                <div class="card-body">
                                    <p class="card-text ingredient-text">Parmesano</p>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark" onclick="decrement('parmesano')">-</span>
                                        <input type="number" class="count" name="qty" value="0" id="parmesano">
                                        <span class="plus bg-dark" onclick="increment('parmesano')">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card ingredient">
                                <img src="~/Images/maiz.png" style="width: 10rem; margin-left: 2rem">
                                <div class="card-body">
                                    <p class="card-text ingredient-text">Maíz</p>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark" onclick="decrement('maiz')">-</span>
                                        <input type="number" class="count" name="qty" value="0" id="maiz">
                                        <span class="plus bg-dark" onclick="increment('maiz')">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="card ingredient">
                                <img src="~/Images/bacon.png" style="width: 10rem; margin-left: 2rem">
                                <div class="card-body">
                                    <p class="card-text ingredient-text">Bacon</p>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark" onclick="decrement('bacon')">-</span>
                                        <input type="number" class="count" name="qty" value="0" id="bacon">
                                        <span class="plus bg-dark" onclick="increment('bacon')">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card ingredient">
                                <img src="~/Images/cebolla.png" style="width: 10rem; margin-left: 2rem">
                                <div class="card-body">
                                    <p class="card-text ingredient-text">Cebolla</p>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark" onclick="decrement('cebolla')">-</span>
                                        <input type="number" class="count" name="qty" value="0" id="cebolla">
                                        <span class="plus bg-dark" onclick="increment('cebolla')">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card ingredient">
                                <img src="~/Images/atun.png" style="width: 10rem; margin-left: 2rem">
                                <div class="card-body">
                                    <p class="card-text ingredient-text">Atún</p>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark" onclick="decrement('atun')">-</span>
                                        <input type="number" class="count" name="qty" value="0" id="atun">
                                        <span class="plus bg-dark" onclick="increment('atun')">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card ingredient">
                                <img src="~/Images/anchoas.png" style="width: 10rem; margin-left: 2rem">
                                <div class="card-body">
                                    <p class="card-text ingredient-text">Anchoas</p>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark" onclick="decrement('anchoas')">-</span>
                                        <input type="number" class="count" name="qty" value="0" id="anchoas">
                                        <span class="plus bg-dark" onclick="increment('anchoas')">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    @Html.ActionLink("Volver al inicio", "../Home/Index", new { }, new { @class = "btn btn-danger inputButton" })

                    <input type="submit" class="btn btn-success inputButton" value="Ordenar" />
                </div>
            </div>
        }
    </div>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>