@model ExamenParte2.Models.PickOrderInformation
@{
    ViewBag.Title = "Desglose de precios";
    List<SelectListItem> PickUpOptions = ViewBag.PickUpOptions;
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
</head>
<body>
    <div class="container" style="height: 100%">
        @using (Html.BeginForm("SubmitPickUpOrderChoice", "PickUpOrder", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()

            <h2 style="margin: 20px 0 30px 0;"><strong>@ViewBag.Header</strong></h2>
            <div class="card">
                <div class="card-header">
                    <h4 class="text-success text-center">SU ORDEN DE COMPRA</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <p style="font-size: 1.5rem"><strong>¿Le gustaría agregar algo más?</strong></p>
                        <div class="col-4">
                            <div class="card item">
                                <img src="~/Images/pasta.png" style="width:10rem; margin-left:5rem" />
                                <div class="card-body">
                                    <p class="card-text item-text">Spaguetti Supremo</p>
                                    <p class="card-text item-text">₡ 3950</p>
                                    <div>
                                        <span class="minus bg-dark" onclick="decrement('extra-0'), updateTotalTable()">-</span>
                                        <input type="number" class="count" name="extra-0" value="0" id="extra-0" />
                                        <span class="plus bg-dark" onclick="increment('extra-0'), updateTotalTable()">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card item">
                                <img src="~/Images/cookie.png" style="width:10rem; margin-left:5rem" />
                                <div class="card-body">
                                    <p class="card-text item-text">Big Cookie</p>
                                    <p class="card-text item-text">₡ 2950</p>
                                    <div>
                                        <span class="minus bg-dark" onclick="decrement('extra-1'), updateTotalTable()">-</span>
                                        <input type="number" class="count" name="extra-1" value="0" id="extra-1" />
                                        <span class="plus bg-dark" onclick="increment('extra-1'), updateTotalTable()">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card item">
                                <img src="~/Images/salad.png" style="width:10rem; margin-left:5rem" />
                                <div class="card-body">
                                    <p class="card-text item-text">Ensalada Cobb</p>
                                    <p class="card-text item-text">₡ 3950</p>
                                    <div>
                                        <span class="minus bg-dark" onclick="decrement('extra-2'), updateTotalTable()">-</span>
                                        <input type="number" class="count" name="extra-2" value="0" id="extra-2" />
                                        <span class="plus bg-dark" onclick="increment('extra-2'), updateTotalTable()">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem;">
                        <p style="font-size: 1.5rem"><strong>Desglose de precios</strong></p>
                        <div class="col">
                            <table class="table" id="pricesDetailsTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="pricesDetailsTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem;">
                        <div class="col-9">
                        </div>
                        <div class="col-3" style="width: 10rem; height: 4rem; padding-top: 1rem; padding-left:1.4rem;">
                            <span><strong>Subtotal:</strong> </span> <span id="subtotal"></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <p style="font-size: 1.5rem"><strong>¿Cuántas órdenes desea? </strong></p>
                        <p>Puede ordenar un máximo de 4 pedidos.</p>
                        <div>
                            <span class="minus bg-dark" onclick="decrement('pizzaCount'), updateTotalTable()">-</span>
                            <input type="number" class="count" value="1" id="pizzaCount">
                            <span class="plus bg-dark" onclick="increment('pizzaCount'), updateTotalTable()">+</span>
                        </div>
                        <div class="col">
                            <table class="table mt-4" style="width: 100%" id="totalPricesTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Descripción</th>
                                        <th scope="col" style="text-align: right; padding-right: 8.5rem">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Subtotal</td>
                                        <td style="text-align: right; padding-right: 8.5rem" id="subtotalWithExtras"></td>
                                    </tr>
                                    <tr>
                                        <td>IVA</td>
                                        <td style="text-align: right; padding-right: 8.5rem" id="iva"></td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td style="text-align: right; padding-right: 8.5rem" id="total"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1rem">
                        <p style="font-size: 1.5rem"><strong>¿Cómo va a recoger su orden?</strong></p>
                        <div class="col-6">
                            @Html.DropDownListFor(model => model.PickOrderChoice, PickUpOptions, "- Escoja una opción - ", new { @class = "form-select", @id = "pickChoice" })
                            @Html.ValidationMessageFor(model => model.PickOrderChoice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="text-center">
                    @Html.ActionLink("Cancelar", "../Home/Index", new { }, new { @class = "btn btn-danger inputButton" })
                    <input type="text" name="totalHidden" id="totalHidden" value="" style="display: none;" />
                    <input type="text" name="productName" id="productName" value="" style="display: none;" />
                    <input type="text" name="pickOrder" id="pickOrder" value="" style="display: none;" />
                    <input type="submit" class="btn btn-success inputButton" value="Continuar" onclick="setPickOrder()" />
                </div>
            </div>
        }
    </div>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script>
        let selectedItems = @Html.Raw(Json.Encode(ViewBag.SelectedProducts));

        function setPickOrder() {
            document.getElementById("pickOrder").value = document.getElementById("pickChoice").value;
            console.log(document.getElementById("pickOrder").value);
        }
    </script>
    <script type="text/javascript" src="~/Scripts/prices.js"></script>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>
