@{
    ViewBag.Title = "Página de inicio";
}

<head>
    <link rel="stylesheet" href="~/Content/homePageAccess.css">
</head>

<div class="jumbotron">
    <h1>Pizza Hut David</h1>
    <hr />
</div>

<div class="row">
    <h2 class="text-center"><strong>Pizzas</strong></h2>
    <div class="col-4">
        <div class="imageHomePage">
            <img src="~/Images/pizza01.png" alt="Responsive image" style="width: 20rem" />
            <div class="image__overlay image__overlay--light">
                <div class="image__title">@Html.ActionLink("Ordene Ya", "../Prices/SetProducts", new { selectedProduct = "Pizza Grande Pepperoni" })</div>
                <h5 class="image__description">
                    Pizza Grande Pepperoni (₡ 8500)
                </h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="imageHomePage">
            <img src="~/Images/pizza02.png" alt="Responsive image" style="width: 20rem" />
            <div class="image__overlay image__overlay--light">
                <div class="image__title">@Html.ActionLink("Ordene Ya", "../Prices/SetProducts", new { selectedProduct = "Big Quattro" })</div>
                <h5 class="image__description">
                    Big Quattro (₡ 8950)
                </h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="imageHomePage">
            <img src="~/Images/pizza03.png" alt="Responsive image" style="width: 20rem" />
            <div class="image__overlay image__overlay--light">
                <div class="image__title">@Html.ActionLink("Ordene Ya", "../Prices/SetProducts", new { selectedProduct = "AK7 Pizza" })</div>
                <h5 class="image__description">
                    AK7 Pizza (₡ 5000)
                </h5>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <h2 class="text-center"><strong>Combos</strong></h2>
</div>
<div class="row">
    <div class="col-6">
        <div class="imageHomePage">
            <img src="~/Images/producto01.png" alt="Responsive image"  />
            <div class="product_image__overlay image__overlay--light">
                <div class="image__title">@Html.ActionLink("Ordene Ya", "../Prices/SetProducts", new { selectedProduct = "Combo Crunchy" })</div>
                <h5 class="image__description">
                    Combo Crunchy (₡ 16950)
                </h5>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="imageHomePage">
            <img src="~/Images/producto02.png" alt="Responsive image" />
            <div class="product_image__overlay image__overlay--light">
                <div class="image__title">@Html.ActionLink("Ordene Ya", "../Prices/SetProducts", new { selectedProduct = "Combo de pares" })</div>
                <h5 class="image__description">
                    Combo de pares (₡ 15950)
                </h5>
            </div>
        </div>
    </div>
</div>