@model ExamenParte2.Models.PickOrderInformation
@{
    ViewBag.Title = "Retiro en restaurante";
    List<SelectListItem> Restaurants = ViewBag.Restaurants;
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
</head>
<body>
    <div class="container" style="height: 100%; margin-bottom: 9rem">
        @using (Html.BeginForm("SubmitPickUpInformation", "PickUpOrder", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()

            <h2 style="margin: 20px 0 30px 0;"><strong>Retiro en restaurante</strong></h2>
            <div class="card">
                <div class="card-header">
                    <h4 class="text-success text-center">NUESTROS RESTAURANTES</h4>
                </div>
                <div class="card-body">
                    <div class="row" style="margin-top: 1rem">
                        <p style="font-size: 1.5rem"><strong>¿Cómo va a recoger su orden?</strong></p>
                        <div class="col-6">
                            @Html.DropDownListFor(model => model.ExactDirection, Restaurants, "- Escoja una opción - ", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.ExactDirection, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    @Html.ActionLink("Atrás", "../CreatePizza/ShowPrices", new { }, new { @class = "btn btn-danger submitButton" })

                    <input type="text" name="totalHidden" id="totalHidden" value="@ViewBag.PickUpModel.Total" style="display: none;" />
                    <input type="text" name="productName" id="productName" value="@ViewBag.PickUpModel.ProductName" style="display: none;" />
                    <input type="submit" class="btn btn-success submitButton" value="Continuar con la compra" />
                </div>
            </div>
        }
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>

<style>
    .submitButton {
        margin: 20px;
        line-height: 40px;
        width: 14rem
    }
</style>